*{
	padding: 0px;
	margin: 0px;
}
html{
	scroll-snap-type: y mandatory;
}
section{
	scroll-snap-align: start;
	scroll-snap-stop: always;
}
.sec1{
	position: relative;
	height: 100vh;
	width: 100%;
	background: linear-gradient(to bottom, rgba(245, 222, 179, 1.0), rgba(231, 207, 160, 1.0));
	display: grid;
	grid-template-rows: 1fr 5fr;
	grid-template-columns: 3fr 3fr 3fr;
	gap: 30px;
}
.sec1>div.content{
	position: relative;
	height: 100%;
	width: 100%;
	grid-area: 2/2/3/3;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.sec1>div.content>div.contenta{
	width: 60%;
	aspect-ratio: 1/1;
	position: relative;
	grid-area: 1/2/2/5;
	border-radius: 50%;
	z-index: 2;
	background-image: url('images/image1.png');
	background-position: center;
	background-size: 120% 120%;
	background-position: top;
	backdrop-filter: blur(20px);
	border-bottom: 2px dashed black;
}
.sec1>div.content>div.contentb{
	position: absolute;
	bottom: 0px;
	height: 90%;
	width: 10px;
	background: black;
	z-index: 1;
}
.sec2{
	position: relative;
	height: var(--dynamic-height);
	width: 100%;
	background: black;
}
@media screen and (min-width:0px) and (max-width: 320px){
	.sec1{
		grid-template-columns: 0.1fr 4fr 0.1fr;
	}
	.sec1>div.content>div.contenta{
		width: 80%;
	}
	.sec1>div.content>div.contentb{
		width: 5px;
	}
}
@media screen and (min-width: 320px) and (max-width: 480px){
	.sec1{
		grid-template-columns: 0.5fr 3fr 0.5fr;
	}
	.sec1>div.content>div.contenta{
		width: 75%;
	}
	.sec1>div.content>div.contentb{
		width: 7.5px;
	}
}
@media screen and (min-width: 480px) and (max-width: 768px){
	.sec1{
		grid-template-columns: 0.8fr 3fr 0.8fr;
	}
	.sec1>div.content>div.contenta{
		width: 70%;
	}
	.sec1>div.content>div.contentb{
		width: 10px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1280px){
	.sec1{
		grid-template-columns: 2fr 3fr 2fr;
	}
}
@media screen and (min-width: 1280px) and (max-width: 1440px){
	.sec1{
		grid-template-columns: 3fr 3fr 3fr;
	}
}